---
apiVersion: v1
kind: ConfigMap
metadata:
  name: microservices-config
  namespace: ecommerce
data:
  SPRING_PROFILES_ACTIVE: "dev"
  SPRING_CONFIG_IMPORT: ""
  EUREKA_CLIENT_ENABLED: "false"
  SPRING_CLOUD_CONFIG_ENABLED: "false"
  SPRING_ZIPKIN_ENABLED: "true"
  SPRING_ZIPKIN_BASE_URL: "http://zipkin-server.observability:9411"
